 Name : S.Asma

Email : asmabbashu@gmail.com

Contact : 7997812657

College : G.Pullaiah College Of Engineering And Technology,Kurnool,Andhra Pradesh.

1. A company decided to give bonus of 5% to employee if his/her year of service is 
more than 5 years. Ask user for their salary and year of service and print the net 
bonus amount

In [2]:
employee_salary = int(input("Please enter salay : "))
employee_yearofservice = int(input("Please enter year of service : "))
if employee_yearofservice > 5:
    Bonus=employee_salary*0.05
    total_salary=employee_salary+Bonus
print("Bonus is ",Bonus)
print("total amount of salary is ",total_salary)

Please enter salay : 100000
Please enter year of service : 6
Bonus is  5000.0
total amount of salary is  105000.0

2. A school has following rules for grading system:
a. Below 25 - F
b. 25 to 45 - E
c. 45 to 50 - D
d. 50 to 60 - C
e. 60 to 80 - B
f. Above 80 - A
Ask user to enter marks and print the corresponding grade.

In [3]:
student_marks=int(input("Please enter marks : "))
if student_marks < 25 :
    print("F")
elif student_marks>=25 and student_marks<=45:
    print("E")
elif student_marks>=45 and student_marks<=50:
    print("D")
elif student_marks>=50 and student_marks<=60:
    print("C")
elif student_marks>=60 and student_marks<=80:
    print("B")
elif student_marks>=80:
    print("A")

Please enter marks : 97
A

3. A student will not be allowed to sit in exam if his/her attendence is less than 75%.
Take following input from user
Number of classes held
Number of classes attended.
And print
percentage of class attended
Is student is allowed to sit in exam or not.

In [4]:
classes_held=int(input("Number of classes held : "))
classes_attended=int(input("Number of classes attended : "))
percentage=(classes_attended/classes_held) * 100
print(percentage)
if percentage<75 :
    print("student is not allowed to sit in exam ")
else:
    print("student is allowed to sit in exam ")

Number of classes held : 400
Number of classes attended : 356
89.0
student is allowed to sit in exam

4. Ask user to enter age, sex ( M or F ), marital status ( Y or N ) and then using 
following rules print their place of service.
if employee is female, then she will work only in urban areas.
if employee is a male and age is in between 20 to 40 then he may work in anywhere
if employee is male and age is in between 40 t0 60 then he will work in urban areas 
only.

In [5]:
age=int(input("Enter age :"))
gender=input("Enter gender M/F :")
marital_status=input("Enter  marital status Y /N :")
if gender=="F "or gender=="f":
    print("she will work only in urban areas")
elif gender=="M" or gender=="m" and age>20 and age<40:
    print("he may work in anywhere ")
elif gender=="M" or gender=="m" and  age>40 and age<60:
    print("he will work in urban areas only")
else:
    print("ERROR")

Enter age :23
Enter gender M/F :f
Enter  marital status Y /N :n
she will work only in urban areas

5. Take 10 integers from keyboard using loop and print their average value on the 
screen.

In [6]:
n=10
sum=0
for i in range(n):
    c=int(input())
    sum+=c
avg = sum/n
print(avg)

1
2
3
4
5
6
7
8
9
10
5.5

6. Write a program to calculate factorial of a number.

In [7]:
f=int(input())
fact=1
for i in range(1,f+1):
    fact*=i
print(fact)

5
120

7. Take integer inputs from user until he/she presses q ( Ask to press q to quit after 
every integer input ). Print average and product of all number

In [8]:
c=0
sum=0
prod=1
while True:
    n=input('enter a number : ')
    if n == 'q':
        break
    n=int(input())
    sum += n
    prod *= n
    c+=1
print("Average : ",sum/c)
print("Product : ",prod)

enter a number : 3
4
enter a number : 8
8
enter a number : 8
8
enter a number : q
Average :  6.666666666666667
Product :  256

8.A three digit number is called Armstrong number if sum of cube of its digit is equal to number itself. E.g.- 153 is an Armstrong number because (13)+(53)+(33) = 153. Write all Armstrong numbers between 100 to 500.

In [9]:
a=100
b=500
for i in range(a,b+1):
    temp = i
    sum=0
    order = len(str(i))
    while temp>0:
        dig = temp%10
        sum += dig ** order
        temp //= 10
    if i == sum:
        print(i)

153
370
371
407

9.Write a program to find the length of the string "refrigerator" without using len function.

In [10]:
a="refrigerator"
count=0
for i in a:
    count+=1
print(count)

12

10.Write a program that takes your full name as input and displays the abbreviations of the first and middle names except the last name which is displayed as it is. For example, if your name is Robert Brett Roser, then the output should be R.B.Roser

In [11]:
s=input()
l=s.split()
print(l[0][0]+'.'+ l[1][0] + '.'+ l[2])

Robert Brett Roser
R.B.Roser